# binarios generados
*.obj
*.exe
*.lib
*.386
*.586
*.ovl
*.dll

# ficheros intermedios de Watcom
*.err
*.mk1
*.tgt
*.map
*.lst
*.pch
*.sym

# copias de seguridad
*.bak
*.bac

# ficheros temporales de programas externos
/3rdparty/scitech/doc/*/*.[Gg][Ii][Dd]

# carpetas
/bin
/_trash
/_basura
/build.dos/debug.*
/build.dos/release.*
/wstub/debug
/wstub/release
/.vscode
/.vagrant

# los exe de PMODEW sí los queremos
!/pmwlite/*.[Ee][Xx][Ee]

# las librerías 3rd party también, para no tener que recompilarlas ya que
# algunas requieren TASM
!/3rdparty/lib/*.[Ll][Ii][Bb]

# incluimos DOS4GW con la instalación
!/system/dos4gw.exe
