# binarios generados
*.obj
*.exe
*.lib
*.386
*.586

# ficheros intermedios de Watcom
*.err
*.mk1
*.tgt
*.map
*.lst

# copias de seguridad
*.bak
*.bac

# ficheros temporales de programas externos
/3rdparty/scitech/doc/MGL/*.[Gg][Ii][Dd]

# carpetas
/bin
/_trash
/_basura
/build.dos/debug.*
/build.dos/release.*
/wstub/debug
/wstub/release
/.vscode