# binarios generados
*.obj
*.exe
*.lib
*.386
*.586

# ficheros intermedios de Watcom
*.err
*.mk1
*.tgt
*.map
*.lst

# copias de seguridad
*.bak
*.bac

# carpetas
/bin
/_trash
/_basura
/build.dos/debug.*
/build.dos/release.*
/wstub/debug
/wstub/release
/.vscode